.contact {
  padding: 132px 0px;

  &__title {
    max-width: 844px;
  }
  &__wrapper {
    margin-top: 39px;
    display: flex;
    gap: 0px 18px;
  }
  &__img {
    width: 332px;
    height: 274px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__caption {
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    margin-top: 39px;
    width: 100%;
  }
  &__input {
    width: 100%;
    background: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    &::placeholder {
      color: #000;
      font-size: 14px;
    }
  }
  &__button {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: underline;
    background: transparent;
    color: #6360ef;
    padding-right: 85px;
    align-self: flex-end;
    margin-top: 26px;
    &::before {
      content: '';
      position: absolute;
      width: 68px;
      height: 1px;
      background-color: $violet;
      right: 4.5px;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      content: '';
      position: absolute;
      width: 4.5px;
      height: 4.5px;
      background-color: $violet;
      right: 0px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
