<section class="advertising">
  <div class="container">
    <h2 class="title advertising__title">
      Продвигаем сайты на самых
      <span class="text_color text_bold">популярных</span> площадках и
      платформах
    </h2>
    <p class="advertising__text text">
      Продвижение сайта - это обязательный атрибут успешного бизнеса в
      интернете. Почему это обязательно необходимо для бизнеса? Все потому, что
      99% ваших клиентов - это пользователи интернета, которых важно привлечь на
      сайт в первую очередь. Что мы можем предложить для Вас?
    </p>
    <ul class="advertising__list">
      <li class="card advertising__card">
        <h3 class="advertising__caption">Контекстная Реклама в Google</h3>
        <p class="card__description advertising__description">
          Реклама вашего сайта в поисковиках Google. Это самое эффективное
          решение для вашего бизнеса, ведь вы платите 1 раз за настройку и
          дополнительно можете приобрести поддержку. Рекламный бюджет
          расходуется только за посещение вашего сайта. Сколько людей пришло на
          сайт - столько и платите
        </p>
        <div class="advertising__wrapper">
          <button class="card__button advertising__button">Заказать</button>
          <p class="card__price advertising__price">от 150 000 тенге</p>
        </div>
      </li>
      <li class="card advertising__card">
        <h3 class="advertising__caption">Контекстная Реклама в Яндекс</h3>
        <p class="card__description advertising__description">
          Это аналогичная платформа и похожа по сути на Google. Но ровно 50%
          пользователей в интернет используют Яндекс и поэтому нельзя исключать
          эту площадку. Зачастую многие игнорируют ее, но мы будем умнее!
          Соберем клиентов именно с Яндекс, чтобы быть на шаг впереди
          конкурентов.
        </p>
        <div class="advertising__wrapper">
          <button class="card__button advertising__button">Заказать</button>
          <p class="card__price advertising__price">от 150 000 тенге</p>
        </div>
      </li>
      <li class="card advertising__card">
        <h3 class="advertising__caption">SEO Продвижение сайта</h3>
        <p class="card__description advertising__description">
          Ваши сайты в ТОП 1 в поисковике это самый лучший результат, ведь
          органический трафик отличается от платного и благодаря СЕО продвижению
          сайт может приносить бесплатные заявки в будущем и сократить расходы
          на рекламу
        </p>
        <div class="advertising__wrapper">
          <button class="card__button advertising__button">Заказать</button>
          <p class="card__price advertising__price">от 250 000 тенге</p>
        </div>
      </li>
      <li class="card advertising__card">
        <h3 class="advertising__caption">Краудфандинговое продвижение</h3>
        <p class="card__description advertising__description">
          Этот способ заявил эффективность как один из методов продвижения. Он
          помогает росту сайта, а также приносит клиентов из внешних источников:
          Справочников, Каталогов, Досок объявлений и тд
        </p>
        <div class="advertising__wrapper">
          <button class="card__button advertising__button">Заказать</button>
          <p class="card__price advertising__price">от 100 000 тенге</p>
        </div>
      </li>
    </ul>
  </div>
</section>
