<section
  class="clients"
  id="clients">
  <div class="container">
    <h2 class="title clients__title">
      Наши
      <span class="text_color text_bold">клиенты:</span>
    </h2>
    <ul class="clients__list">
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/kztel.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/kztel.webp"
            type="image/webp" />
          <img
            src="../img/clients/kztel.png"
            alt="kaztelekom"
            width="139"
            height="95"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/fortebank.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/fortebank.webp"
            type="image/webp" />
          <img
            src="../img/clients/fortebank.png"
            alt="fortebank"
            width="259"
            height="58"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/alfabank.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/alfabank.webp"
            type="image/webp" />
          <img
            src="../img/clients/alfabank.png"
            alt="alfabank"
            width="248"
            height="51"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/sber.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/sber.webp"
            type="image/webp" />
          <img
            src="../img/clients/sber.png"
            alt="alfabank"
            width="267"
            height="42"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/qazkom.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/qazkom.webp"
            type="image/webp" />
          <img
            src="../img/clients/qazkom.png"
            alt="qazkom"
            width="89"
            height="89"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/kfc.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/kfc.webp"
            type="image/webp" />
          <img
            src="../img/clients/kfc.png"
            alt="kfc"
            width="225"
            height="80"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/pepsi.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/pepsi.webp"
            type="image/webp" />
          <img
            src="../img/clients/pepsi.png"
            alt="pepsi"
            width="206"
            height="78"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/faberlic.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/faberlic.webp"
            type="image/webp" />
          <img
            src="../img/clients/faberlic.png"
            alt="faberlic"
            width="200"
            height="43"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/avon.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/avon.webp"
            type="image/webp" />
          <img
            src="../img/clients/avon.png"
            alt="avon"
            width="220"
            height="44"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/cat.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/cat.webp"
            type="image/webp" />
          <img
            src="../img/clients/cat.png"
            alt="cat"
            width="129"
            height="69"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/mobil.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/mobil.webp"
            type="image/webp" />
          <img
            src="../img/clients/mobil.png"
            alt="mobil"
            width="185"
            height="42"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/asiafurniture.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/asiafurniture.webp"
            type="image/webp" />
          <img
            src="../img/clients/asiafurniture.png"
            alt="asiafurniture"
            width="188"
            height="90"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/janna.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/janna.webp"
            type="image/webp" />
          <img
            src="../img/clients/janna.png"
            alt="janna"
            width="164"
            height="105"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/1xbet.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/1xbet.webp"
            type="image/webp" />
          <img
            src="../img/clients/1xbet.png"
            alt="1xbet"
            width="178"
            height="51"
            class="clients__img" />
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source
            srcset="../img/clients/alataukus.avif"
            type="image/avif" />
          <source
            srcset="../img/clients/alataukus.webp"
            type="image/webp" />
          <img
            src="../img/clients/alataukus.png"
            alt="alataukus"
            width="203"
            height="136"
            class="clients__img" />
        </picture>
      </li>
    </ul>
  </div>
</section>
