<section class="contact">
  <div class="container">
    <h2 class="title contact__title">
      Остались сомнения?
      <span class="text_color text_bold">Оставляйте заявку</span>
    </h2>
    <div class="contact__wrapper">
      <div class="contact__img">
        <img
          src="../img/contact/support.png"
          width="332"
          height="274"
          alt="support" />
      </div>
      <form
        action=""
        class="contact__form">
        <p class="contact__caption">
          Оставляйте заявку, наш менеджер свяжется с вами и обсудит все детали
          для начала сотрудничества.
        </p>
        <label class="contact__label"
          ><input
            type="text"
            class="contact__input"
            placeholder="Ваше имя"
        /></label>
        <label class="contact__label"
          ><input
            type="text"
            class="contact__input"
            placeholder="+7 (___) ___-__-__"
        /></label>
        <button class="contact__button">Оставить заявку</button>
      </form>
    </div>
  </div>
</section>
