<section
  class="contact"
  id="contact">
  <div class="container">
    <h2 class="title contact__title animate__animated animate__fadeInLeft wow">
      Остались сомнения?
      <span class="text_color text_bold">Оставляйте заявку</span>
    </h2>
    <div class="contact__wrapper">
      <div class="contact__img animate__animated animate__fadeInLeft wow">
        <picture>
          <source
            srcset="../img/contact/support.avif"
            type="image/avif" />
          <source
            srcset="../img/contact/support.webp"
            type="image/webp" />
          <img
            src="../img/contact/support.png"
            width="332"
            height="274"
            alt="support" />
        </picture>
      </div>
      <form
        action="#"
        class="contact__form animate__animated animate__fadeInRight wow"
        id="contact">
        <p class="contact__caption">
          Оставляйте заявку, наш менеджер свяжется с вами и обсудит все детали
          для начала сотрудничества.
        </p>
        <label class="contact__label"
          ><input
            type="text"
            class="contact__input"
            placeholder="Ваше имя"
            data-validate-field="name"
        /></label>
        <label class="contact__label"
          ><input
            type="tel"
            class="contact__input"
            placeholder="+7(___)___-__-__"
            data-validate-field="phone"
        /></label>
        <button class="contact__button">Оставить заявку</button>
      </form>
    </div>
  </div>
</section>
