<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <h2 class="footer__left">
        Наши контакты:<br /><a href="tel:77777771234">+7 777 777 1234</a>
      </h2>
      <div class="footer__contacts">
        <p class="footer__contact">
          <a href="#"
            ><img
              src="../img/footer/telegram.png"
              alt="telegram"
              width="19"
              height="19"
          /></a>
        </p>
        <p class="footer__contact">
          <a href="#"
            ><img
              src="../img/footer/whatsapp.png"
              alt="whatsapp"
              width="19"
              height="19"
          /></a>
        </p>
      </div>
      <div class="footer__right">
        <p class="footer__text">
          Наш офис - это наши ноутбуки и мобильные телефоны. С 2020 года,
          Covid-19 дал нам понять, что мы не нуждаемся в закрытом помещении,
          чтобы выдать первоклассный результат. Мы отлично справляемся без
          офиса, но всегда открыты к диалогу. Мы предлагаем встретиться с вами в
          любом удобном для Вас месте, чтобы обсудить проект за чашечкой кофе!
        </p>
      </div>
    </div>
  </div>
</footer>
