<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <h2>
          Наши контакты:<br /><a href="tel:77777771234">+7 777 777 1234</a>
        </h2>
        <div class="footer__contacts">
          <p class="footer__contact">
            <a href="https://t.me/">
              <picture>
                <source
                  srcset="../img/footer/telegram.avif"
                  type="image/avif" />
                <source
                  srcset="../img/footer/telegram.webp"
                  type="image/webp" />
                <img
                  src="../img/footer/telegram.png"
                  alt="telegram"
                  width="32"
                  height="32" />
              </picture>
            </a>
          </p>
          <p class="footer__contact">
            <a href="https://wa.me/">
              <picture>
                <source
                  srcset="../img/footer/whatsapp.avif"
                  type="image/avif" />
                <source
                  srcset="../img/footer/whatsapp.webp"
                  type="image/webp" />
                <img
                  src="../img/footer/whatsapp.png"
                  alt="whatsapp"
                  width="32"
                  height="32" />
              </picture>
            </a>
          </p>
        </div>
      </div>

      <div class="footer__right">
        <p class="footer__text">
          Наш офис - это наши ноутбуки и мобильные телефоны. С 2020 года,
          Covid-19 дал нам понять, что мы не нуждаемся в закрытом помещении,
          чтобы выдать первоклассный результат. Мы отлично справляемся без
          офиса, но всегда открыты к диалогу. Мы предлагаем встретиться с вами в
          любом удобном для Вас месте, чтобы обсудить проект за чашечкой кофе!
        </p>
      </div>
    </div>
  </div>
</footer>
