<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a
        href="#"
        class="header__logo">
        <span class="logo">Circus SPF</span>
        <span class="subtitle">Разработка и продвижение сайтов</span>
      </a>
      <div class="header__col">
        <a
          href="tel:777777777"
          class="header__phone"
          >+7 777 777 77</a
        >
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__link">
            <a href="#">Главная</a>
          </li>
          <li class="header__link">
            <a href="#">О нас</a>
          </li>
          <li class="header__link">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
