<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <link
    rel="shortcut icon"
    href="favicon.ico"
    type="image/x-icon" />
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge" />
  <meta
    name="theme-color"
    content="#111111" />
  <!-- Primary Meta Tags -->
  <title>Circus SPF | Разработка и продвижение сайтов</title>
  <meta
    name="title"
    content="Circus SPF | Разработка и продвижение сайтов" />
  <meta
    name="description"
    content="" />

  <!-- Open Graph / Facebook -->
  <meta
    property="og:type"
    content="website" />
  <meta
    property="og:url"
    content="https://cspf.kz/" />
  <meta
    property="og:title"
    content="Circus SPF | Разработка и продвижение сайтов" />
  <meta
    property="og:description"
    content="" />
  <meta
    property="og:image"
    content="../img/og_img.png" />

  <!-- Twitter -->
  <meta
    property="twitter:card"
    content="summary_large_image" />
  <meta
    property="twitter:url"
    content="https://cspf.kz/" />
  <meta
    property="twitter:title"
    content="Circus SPF | Разработка и продвижение сайтов" />
  <meta
    property="twitter:description"
    content="" />
  <meta
    property="twitter:image"
    content="../img/og_img.png" />
  <link
    rel="stylesheet"
    href="css/main.css" />
</head>
