<section
  class="intro"
  id="intro">
  <div class="container">
    <h1 class="intro__title title animate__animated animate__fadeInLeft">
      <span class="text_color text_bold">Разработка сайтов.</span><br />
      Продвижение и реклама
    </h1>
    <ul class="intro__list animate__animated animate__fadeInLeft">
      <li class="intro__item text_bold">
        Более
        <span class="text_color fz-48">300</span>
        сайтов разработанных за 2021 год
      </li>
      <li class="intro__item text_bold">
        <span class="text_color fz-48">18</span>
        лет на рынке разработки и продвижения
      </li>
      <li class="intro__item text_bold">
        Более
        <span class="text_color fz-48">90%</span>
        клиентов обращаются снова
      </li>
      <li class="intro__item text_bold">
        Более
        <span class="text_color fz-48">15</span>
        сотрудников в штате
      </li>
    </ul>
    <a
      href="#proposal"
      class="intro__button button button__arrow_right animate__animated animate__fadeInLeft">
      Оформить заявку
    </a>
  </div>
</section>
