<section class="intro">
  <div class="container">
    <h2 class="intro__title title">
      <span class="text_color text_bold">Разработка сайтов.</span><br />
      Продвижение и реклама
    </h2>
    <ul class="intro__list">
      <li class="intro__item text_bold">
        Более
        <span class="text_color fz-48">300</span>
        сайтов разработанных за 2021 год
      </li>
      <li class="intro__item text_bold">
        <span class="text_color fz-48">18</span>
        лет на рынке разработки и продвижения
      </li>
      <li class="intro__item text_bold">
        Более
        <span class="text_color fz-48">90%</span>
        клиентов обращаются снова
      </li>
      <li class="intro__item text_bold">
        Более
        <span class="text_color fz-48">15</span>
        сотрудников в штате
      </li>
    </ul>
    <button class="intro__button button button__arrow_right">
      Оформить заявку
    </button>
  </div>
</section>
