<section class="partner">
  <div class="container">
    <h2 class="partner__title title">
      Мы - авторизованный и эксклюзивный партнер в
      <span class="text_color text_bold">Казахстане</span>
    </h2>
    <p class="partner__text text">
      Большой опыт и ряд сертифицированных сотрудников делают нас сильнее на
      рынке веб разработки и продвижения в интернете. Мы развиваемся и никогда
      не останавливаемся на достигнутом. Для достижения максимального результата
      всегда идем в ногу со временем и следуем трендам. Технические специалисты
      компании постоянно поднимают уровень квалификации, чтобы доказывать свое
      превосходство на всех этапах работы. имеем статус
      <span class="text_color text_bold">Google Partner</span> и
      <span class="text_color text_bold">Золотой Партнер Яндекса</span>. Сегодня
      и всегда мы официальные партнеры и представителями:
    </p>
    <ul class="partner__list">
      <li class="partner__item">Google ADS</li>
      <li class="partner__item">Google Аналитика</li>
      <li class="partner__item">Яндекс директ</li>
      <li class="partner__item">Метрика Яндекс</li>
    </ul>
  </div>
</section>
