<section
  class="proposal"
  id="proposal">
  <div class="container">
    <h2 class="proposal__caption animate__animated animate__fadeInLeft wow">
      Давайте обсудим
      <span class="text_color text_bold">ваш проект,</span>
      составим
      <span class="text_color text_bold"
        >план<br />
        реализации и продвижения</span
      >
    </h2>
    <p class="proposal__text animate__animated animate__fadeInRight wow">
      Вместе разобьем процесс создания на этапы, поможем составить маркетинговую
      стратегию<br />и достигнуть высоких результатов! Не сомневайтесь - Мы
      сделаем это!
    </p>
    <form
      action="#"
      class="proposal__form form animate__animated animate__fadeInLeft wow"
      id="apply">
      <div class="proposal__wrapper">
        <label class="proposal__label">
          <input
            type="text"
            class="proposal__input"
            name="name"
            data-validate-field="name"
            placeholder="Ваше имя" />
        </label>
        <label class="proposal__label">
          <input
            type="tel"
            class="proposal__input"
            name="phone"
            data-validate-field="phone"
            placeholder="+7(___)___-__-__" />
        </label>
        <input
          type="hidden"
          name="type"
          value="apply" />
      </div>
      <button class="proposal__button">Оставить заявку</button>
    </form>
  </div>
</section>
