<section class="schema">
  <div class="container">
    <h2 class="title schema__title animate__animated animate__fadeInLeft wow">
      Схема нашего успеха в
      <span class="text_color text_bold">вашем бизнесе</span>
    </h2>
    <ul class="schema__list">
      <li class="schema__item animate__animated animate__fadeInLeft wow">
        <p class="schema__text">
          <span class="text_color text_bold">
            Проводим глубокий анализ вашего бизнеса
          </span>
          с изучением всех нюансов. На основе этого разрабатываем структуру и
          план реализации проект.
        </p>
      </li>
      <li class="schema__item animate__animated animate__fadeInDown wow">
        <p class="schema__text">
          <span class="text_color text_bold">Составляем прототипы, </span>
          подготавливаем продающий текст, наполняем смыслами и повышаем доверие
          клиента к вам и вашему продукту
        </p>
      </li>
      <li class="schema__item animate__animated animate__fadeInRight wow">
        <p class="schema__text">
          <span class="text_color text_bold"
            >Упаковываем Ваше предложение.
          </span>
          Разрабатываем классный и уникальный дизайн. Продумываем максимально
          удобное расположение всех элементов вашего сайта, чтобы сделать
          взаимодействие с ним удобным и понятным для клиента.
        </p>
      </li>
      <li class="schema__item animate__animated animate__fadeInLeft wow">
        <p class="schema__text">
          Наши программисты
          <span class="text_color text_bold">
            выполняют верстку сайта для всех популярных браузеров,
          </span>
          он будет удобен для использования на компьютере, ноутбуке и смартфоне.
        </p>
      </li>
      <li class="schema__item animate__animated animate__fadeInUp wow">
        <p class="schema__text">
          <span class="text_color text_bold">
            Интегрируем сайт с самыми популярным и безопасными CMS,
          </span>
          проводим его настройку, подключаем почту, домен и хостинг.
        </p>
      </li>
      <li class="schema__item animate__animated animate__fadeInRight wow">
        <p class="schema__text">
          <span class="text_color text_bold">
            Наши рекламщики создадут креативы, вовлекающие объявления,
          </span>
          помогая сделать потенциальных клиентов вашими постоянными
          покупателями.
        </p>
      </li>
    </ul>
  </div>
</section>
