<section class="services">
  <div class="container">
    <h2 class="services__title title">
      Разрабатываем уникальные сайты в
      <span class="text_color text_bold"> Алматы, Астане </span>
      и по всему миру
    </h2>
    <div class="services__text text">
      Разрабатываем сайты любой сложности, работаем в Алматы, Астане и по всему
      Казахстану. Предлагаем уникальные дизайны для Ваших сайтов, ведь мы не
      используем шаблоны, готовые дизайны или готовые сайты. Каждая наша работа
      оригинальна, а ее дизайн не повторяется. Собственная методика разработки
      сайта - делает сайт быстрым, адаптивным под любое устройство.
    </div>
  </div>
</section>
