<section class="services">
  <div class="container">
    <h2 class="services__title title">
      Разрабатываем уникальные сайты в
      <span class="text_color text_bold"> Алматы, Астане </span>
      и по всему миру
    </h2>
    <div class="services__text text">
      Разрабатываем сайты любой сложности, работаем в Алматы, Астане и по всему
      Казахстану. Предлагаем уникальные дизайны для Ваших сайтов, ведь мы не
      используем шаблоны, готовые дизайны или готовые сайты. Каждая наша работа
      оригинальна, а ее дизайн не повторяется. Собственная методика разработки
      сайта - делает сайт быстрым, адаптивным под любое устройство.
    </div>
    <ul class="services__list">
      <li class="card services__card">
        <div class="services__img">
          <img
            src="../img/services/tilda.png"
            alt="tilda" />
        </div>
        <h3 class="card__caption services__caption">
          Разработка сайта на <span class="text_color text_bold">Тильде</span>
        </h3>
        <p class="card__description services__description">
          Разрабатываем сайты на Конструкторе Tilda. Мы можем создать для вас
          лендинг, корпоративный сайт или интернет магазин. При разработке не
          используем шаблоны, а работаем в Зеро Блоке, чтобы вы получали
          красивые, креативные сайты.
        </p>
        <div class="services__wrapper">
          <button class="card__button services__button">Заказать</button>
          <p class="card__price services__price">от 150 000 тенге</p>
        </div>
      </li>
      <li class="card services__card">
        <div class="services__img">
          <img
            src="../img/services/landing.png"
            alt="lading" />
        </div>

        <h3 class="card__caption services__caption">
          Разработка <span class="text_color text_bold">лендинга</span>
        </h3>
        <p class="card__description services__description">
          Создаем продуманный лендинг пейдж ( landing page), наполненый
          смыслами, правильно структурированный и нацеленный на продажу услуг
          или товаров. Сайт станет идеальным вариантом для небольшого количества
          услуг или товаров (1-8 позиций)
        </p>
        <div class="services__wrapper">
          <button class="card__button services__button">Заказать</button>
          <p class="card__price services__price">от 250 000 тенге</p>
        </div>
      </li>
      <li class="card services__card">
        <div class="services__img">
          <img
            src="../img/services/corporative.png"
            alt="corporative" />
        </div>
        <h3 class="card__caption services__caption">
          Разработка
          <span class="text_color text_bold"> корпоративного сайта </span>
        </h3>
        <p class="card__description services__description">
          Предлагаем разработку корпоративных сайтов для компаний, подбирая
          подходящий вариант для малого или среднего бизнеса. Они позволяют
          проще донести информацию о компании и услугах своим клиентам. А
          главная фишка в том, что такие сайты легко продвигать.
        </p>
        <div class="services__wrapper">
          <button class="card__button services__button">Заказать</button>
          <p class="card__price services__price">от 500 000 тенге</p>
        </div>
      </li>
      <li class="card services__card">
        <div class="services__img">
          <img
            src="../img/services/shop.png"
            alt="shop" />
        </div>
        <h3 class="card__caption services__caption">
          Разработка
          <span class="text_color text_bold"> интернет магазинов </span>
        </h3>
        <p class="card__description services__description">
          Создаем интернет магазины, которые станут лучшим решением для продаж
          большого количества товаров и публикации широкого ассортимента.
          Сделать сайт удобным помогает возможность оплаты онлайн банковской
          картой, а также сохранение клиентской базы для дальнейшего
          продвижения.
        </p>
        <div class="services__wrapper">
          <button class="card__button services__button">Заказать</button>
          <p class="card__price services__price">от 650 000 тенге</p>
        </div>
      </li>
    </ul>
  </div>
</section>
