@media (max-width: 1200px) {
  .title {
    font-size: 50px;
    line-height: 55px;
  }
  .intro {
    padding-top: 100px;
    &__list {
      margin-top: 30px;
    }
  }
  .services {
    &__description {
      min-height: 168px;
    }
    &__caption {
      font-size: 30px;
    }
  }
  .footer {
    &__left {
      font-size: 25px;
    }
  }
}

@media (max-width: 992px) {
  .fz-48 {
    font-size: 30px;
  }
  .title {
    font-size: 40px;
    line-height: 45px;
  }
  .intro {
    &__item {
      font-size: 15px;
    }
  }
  .partner {
    &__item {
      font-size: 17px;
    }
  }
  .services {
    &__caption {
      font-size: 22px;
      min-height: 40px;
    }
    &__description {
      min-height: 220px;
    }
  }
  .advertising {
    &__list {
      gap: 21px 60px;
    }
  }
  .proposal {
    &__caption {
      font-size: 30px;
    }
  }
  .schema {
    &__item {
      width: 48.5%;
    }
  }
  .clients {
    &__list {
      gap: 42px 45px;
    }
  }
  .footer {
    &__left {
      font-size: 23px;
      line-height: 30px;
    }
  }
}

@media (max-width: 767px) {
}
