// базовые подключения
@import './vendor/normalize.scss';
@import './settings.scss';
@import 'vars.scss';
@import 'mixins.scss';
@import './fonts.scss';

body {
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-weight: 400;
}

.container {
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}

.title {
  font-size: 72px;
  font-weight: 500;
  line-height: 86px;
}

.text_bold {
  font-weight: 700;
}

.text_color {
  color: $violet;
}

.text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: justify;
}

.fz-48 {
  font-size: 48px;
}

// подключения компонентов страницы
@import './components/button';
@import './components/header';
@import './components/intro';
@import './components/partner';
@import './components/services';
@import './components/card';
@import './components/advertising';
@import './components/proposal';
@import './components/schema';
@import './components/clients';
@import './components/contact';
@import './components/footer';
@import './components/modal';
@import './media';
